@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

#studyDetail .content {
    border-bottom: 1px solid;
    margin: 10px 0;
    padding: 10px 0;
}

.center {
    text-align: center;
}

.pd50 {
    padding: 50px;
}

.photo {
    position: relative;
    display: inline-block;
    padding: 6px;
    margin-top: 10px;
}

.photoDelete {
    position: absolute;
    right: 10px;
    top: -1px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #555;
    cursor: pointer;
}

.photoDelete:after {
    content: "";
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 7px;
    border-left: 1px solid #fff;
    width: 11px;
    height: 11px;
}

.photoDelete:before {
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 7px;
    border-left: 1px solid #fff;
    width: 11px;
    height: 11px;
}

.hidden {
    display: none;
}

#photoUploadBtn {
    cursor: pointer;
}