<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.goods.dao.StudyMapper">
    <sql id="searchCondition">
        FROM study
        WHERE true
        <choose>
            <when test='option=="TITLE"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="WRITER"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND title LIKE concat('%', #{keyword}, '%')
                OR writer LIKE concat('%', #{keyword}, '%')
            </otherwise>
        </choose>
    </sql>
    <select id="select" parameterType="SearchCondition" resultType="Study">
        select *
        <include refid="searchCondition"/>
        ORDER BY reg_date DESC, id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        select count(*)
        from study
    </select>

    <insert id="insert" parameterType="Study" useGeneratedKeys="true" keyProperty="id">
        insert into study (title, category, content, writer)
        values (#{title}, #{category}, #{content}, #{writer})
    </insert>

    <select id="selectOne" parameterType="int" resultType="Study">
        select study.id
             , study.writer
             , study.title
             , study.content
             , study.category
             , file.id         as "file.id"
             , file.originName as "file.originName"
             , file.fileName   as "file.fileName"
        from study study
                 left outer join study_file file
                                 on
                                     file.studyId = study.id
        where study.id = #{id}
    </select>

    <insert id="fileInsert" parameterType="AttachFile">
        insert into study_file (studyId, originName, fileName)
        values (#{id}, #{originName}, #{fileName})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete
        from study
        where id = #{id}
    </delete>

    <select id="selectFile" parameterType="Integer" resultType="int">
        select count(*)
        from study_file
        where studyId = #{id}
    </select>

    <delete id="deleteFile" parameterType="Integer">
        delete
        from study_file
        where studyId = #{id}
    </delete>

    <select id="selectByCategory" parameterType="String" resultType="Study">
        select study.id
             , study.writer
             , study.title
             , study.content
             , study.category
             , study.view_cnt
             , file.id         as "file.id"
             , file.originName as "file.originName"
             , file.fileName   as "file.fileName"
        from study study
                 left outer join study_file file
                                 on
                                     file.studyId = study.id
        where category = #{category}
        order by study.reg_date desc limit 1
    </select>

    <update id="updateCount">
        UPDATE study
        SET view_cnt = view_cnt + 1
        WHERE id = #{id}
    </update>

</mapper>